html {
    --accent: #D3FB53 ;
    --main: #062326 ; 
    --white: #FAFFEC;
}


*{
    box-sizing: border-box;
}

@font-face {
    font-family:"Albert Sans";
    src: url(./AlbertSans-VariableFont_wght.ttf) format(truetype);
    font-weight: 100 900;

    font-family: "Hedvig Letter Serif";
    src: url(./HedvigLettersSerif-Regular-VariableFont_opsz.ttf)
}

body{
    background-color: var(--white);
    color: var(--main);
    font-family: "Albert Sans", sans-serif;
    font-weight:600;
}

div{
margin: 20px;
}

.center {
     width: 50%; 
  margin: 0 auto;
}

h1{
    font-family: "Albert Sans", sans-serif; 
    font-weight:500;
    color: var(--main);
}


h3{
    -webkit-text-stroke: 1px var(--accent);
}

li {
    font-family: "Albert Sans", sans-serif;
    list-style-type: none;
    font-weight: 300;
}

.first {
    font-weight: 800;
}


a {
    font-family: "Hedvig Letter Serif", sans-serif;
    -webkit-text-stroke: 1px var(--main);
    color: var(--accent);
}

